#display {
  position: relative;
  top: 50px;
}

.node {
  position: absolute;
  z-index: 3;
}

.nodeconn {
  position: absolute;
  z-index: 2;
  height: 2px;
  background-color: #000000;
  transform-origin: 0% 0%;
}

.name {
  opacity: 0.2;
  white-space: nowrap;
  text-align: center;
}

.name:hover {
  opacity: 1.0;
}

.header .col-md-6 {
  padding-top: 4px;
}

.header .col-md-3 {
  padding-top: 4px;
}

.header {
  background: #FAFAFA;
  position: fixed;
  top: 0;
  z-index: 10;
}

body {
  background: #D9C66E;
  overflow: hidden;
}

h3 {
  margin: 8px;
}

.noresize {
  resize: none;
}

.slider {
  margin-top: 10px;
}

.option-checkbox {
  width: 30px;
  height: 30px;
}